<app-hero></app-hero>
<div class="content">
  <mat-grid-list
    [cols]="breakpoint"
    gutterSize="1rem"
    rowHeight="1:1.7"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile *ngFor="let movie of movies; let even = even">
      <mat-card (click)="onSelect(movie)" class="movie-card">
        <div
          [ngClass]="even == true ? 'gradient-seconday' : 'gradient-primary'"
          class="gradient"
        ></div>
        <img
          mat-card-image
          src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          alt="Movie poster"
        />
        <div class="mat-body-2 card-title">
          {{ movie.title }}
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator
    class="paginator"
    hidePageSize="true"
    showFirstLastButtons="true"
    pageSize="20"
    [length]="totalPages"
    (page)="onChangePage($event)"
  ></mat-paginator>
</div>
